@charset "UTF-8";

@font-face {
  font-family: "boka";
  src:url("../fonts/boka.eot");
  src:url("../fonts/bokad41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/boka.woff") format("woff"),
    url("../fonts/boka.ttf") format("truetype"),
    url("../fonts/boka.svg#boka") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "boka" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "boka" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.icon-pencil-ruler:before {
  content: "\61";
}
.icon-livejournal:before {
  content: "\62";
}
.icon-target:before {
  content: "\64";
}
.icon-brush-paint:before {
  content: "\65";
}
.icon-painting-roll:before {
  content: "\66";
}
.icon-settings-o:before {
  content: "\67";
}
.icon-buffer-o:before {
  content: "\68";
}
.icon-clock-o:before {
  content: "\69";
}
.icon-star:before {
  content: "\6a";
}
.icon-star-half:before {
  content: "\6b";
}
.icon-star-o:before {
  content: "\6c";
}
.icon-cart-o:before {
  content: "\6d";
}
.icon-gear-o:before {
  content: "\6e";
}
.icon-location-o:before {
  content: "\6f";
}
.icon-pulse:before {
  content: "\70";
}
.icon-iphone:before {
  content: "\71";
}
.icon-apple:before {
  content: "\72";
}
.icon-android:before {
  content: "\73";
}
.icon-medkit:before {
  content: "\75";
}
.icon-airplane:before {
  content: "\76";
}
.icon-happy-smiley:before {
  content: "\77";
}
.icon-wand:before {
  content: "\78";
}
.icon-bag:before {
  content: "\79";
}
.icon-grid-lines:before {
  content: "\7a";
}
.icon-group:before {
  content: "\41";
}
.icon-eye-glass:before {
  content: "\42";
}
.icon-parentheses:before {
  content: "\43";
}
.icon-eye:before {
  content: "\44";
}
.icon-briefcase:before {
  content: "\46";
}
.icon-flag:before {
  content: "\47";
}
.icon-people:before {
  content: "\48";
}
.icon-mail:before {
  content: "\49";
}
.icon-edit:before {
  content: "\4a";
}
.icon-play:before {
  content: "\4b";
}
.icon-facebook:before {
  content: "\4c";
}
.icon-twitter:before {
  content: "\4d";
}
.icon-linkedin:before {
  content: "\4e";
}
.icon-youtube:before {
  content: "\4f";
}
.icon-user:before {
  content: "\50";
}
.icon-mobile:before {
  content: "\51";
}
.icon-up:before {
  content: "\52";
}
.icon-right:before {
  content: "\53";
}
.icon-left:before {
  content: "\54";
}
.icon-down:before {
  content: "\55";
}
.icon-at:before {
  content: "\56";
}
.icon-download:before {
  content: "\57";
}
.icon-calendar:before {
  content: "\63";
}
.icon-search:before {
  content: "\45";
}
.icon-tshirt:before {
  content: "\58";
}
.icon-car:before {
  content: "\59";
}
.icon-pie:before {
  content: "\30";
}
.icon-github:before {
  content: "\31";
}
.icon-grid-o:before {
  content: "\32";
}
.icon-code:before {
  content: "\33";
}
.icon-chart:before {
  content: "\74";
}
.icon-thumbs-o-up:before {
  content: "\34";
}
.icon-ok:before {
  content: "\5a";
}
.icon-cancel:before {
  content: "\35";
}
.icon-chat:before {
  content: "\36";
}

